<div class="tyc-footer">
		<div class="tyc-footer-con">©&nbsp;2007-2016&nbsp;&nbsp;北京基调网络股份有限公司</div>
        <!--右下角浮窗 end-->
        <!--浮窗-->
        <div class="fw-wrap">
          <a href="javascript:NTKF.im_openInPageChat(&#39;kf_9212_1459247902327&#39;)">
            <span class="fw-txt" style="display: none;">在线咨询</span>
			<span class="fw-btn fw-online"></span>
            <div class="clear"></div>
          </a>
        </div>
        <!--浮窗 end-->
 </div>
