<div id="pb{{id}}" class="" params="{{data}}" canvasWidth=480 canvasHeight=40 circleR=15 circleRX=20 circleRY=20 rectWidth=300 rectHeight=6 animation=false showlegend=fasle c_stroke_width=4 r_stroke_width=2
								initrectwidth=300 style="margin-top:0px;margin-left:50%; margin-right: 136px; position: relative;/*  z-index:101; */">
</div>