<div id="holderMore{{id}}" class="example_full" url="/report-server/overview/newAppList/{{id}}/list" canvasheight="200" canvaswidth="90%" circler="70" circlerx="100" circlery="100" rectheight="16" animation="true" showlegend="true" c_stroke_width="13" r_stroke_width="2initrectwidth=0" style="height:200px;margin-top:0px;margin-left:0px;width:800px; position: relative;z-index:101;">
</div>
									