<div id="reportTimePlugin" periodType="1" >
<!--ensurePeriodCallback="changeTime" ensureTimeCallback="changeTime" -->
		<input id="timeType" class="timeForm input_timeType" name="timeType" type="hidden" value="1">
		<input id="timePeriod" class="timeForm input_timePeriod" name="timePeriod" type="hidden" value="86400">
		<input id="endTime" class="timeForm input_endTime" name="endTime" type="hidden" value="">
		<input id="timezone" class="" name="timeZone" type="hidden" value="GMT+0800">
		<input id="language" class="" name="language" type="hidden" value="zh">

</div>